@charset 'UTF-8';

.shopee_pdf_container {
  display: -webkit-flex; /* Safari */
  display: flex;
  align-items: center;
  margin: 10px 0px 0px;
}

.pdf_hint {
  width: 150px;
}

.textarea_container {
  display: -webkit-flex; /* Safari */
  display: flex;
  flex: 1;
}

.shoppe_input_container {
  margin: 10px 0px 0px 0px;
}

.button_container {
  width: 104px;
}
